html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    background: #3D4B64;
}

body {
    margin-bottom: 60px;
    background-image: url(../background1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100%;
}

main {
    min-height: 80vh;
}

.light-shadow {
    box-shadow: 30px 22px 40px -10px rgba(0, 0, 0, 0.30);
}

.custom-nav, footer {
    background: #3D4B64;
}

.custom-nav a, footer div {
    color: white !important;
}
    .custom-nav .dropdown-menu a {
        color: black !important;
    }

a {
    text-decoration: none !important;
}
