@using Microsoft.AspNetCore.Mvc.TagHelpers
@model VocationManager.Services.DTOs.Roles.RoleDto

@{
    ViewData["Title"] = "Edit";
}

<div class="card light-shadow m-0 m-auto col-5">
    <div class="img-fluid text-center mt-2">
        <img class="card-img-top img-fluid" style="width: 20rem" style="object-fit: contain" src="https://cdn2.iconfinder.com/data/icons/bookmark-1/24/tag-edit-512.png" alt="edit image">
    </div>
    <div class="card-body">
        <h5 class="card-title">Edit existing role</h5>
        <div>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <br />
                    <a asp-action="Index">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-backward"></i> Back to List
                        </button>
                    </a>

                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
