@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/identity-page.css" asp-append-version="true" />

<div class="global-holder">
    <div class="wrap light-shadow">
        <div class="box">
            <div class="content">
                <form id="account" method="post">
                    <div class="logo-wrap">
                        <i class="fa-solid fa-key"></i>
                    </div>
                    <h1>Welcome Back!</h1>
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <div class="input-box">
                        <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Username"/>
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="input-box">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="links">
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div class="input-box">
                        <input type="submit" id="login-submit" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
