@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/identity-page.css" asp-append-version="true" />

<style>
    .wrap .box{
        min-height: 670px;
    }

    .global-holder {
        margin-top: 10px;
    }
</style>

<div class="global-holder">
    <div class="wrap light-shadow">
        <div class="box">
            <div class="content">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="logo-wrap">
                        <i class="fa-solid fa-user-lock"></i>
                    </div>
                    <h1>Register!</h1>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    
                    <div class="input-box">
                        <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="Email"/>
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                    <div class="input-box">
                        <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Username" />
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="input-box">
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="firstName" aria-required="true" placeholder="First Name" />
                        <i class="fa-solid fa-tag"></i>
                    </div>
                    <div class="input-box">
                        <input asp-for="Input.LastName" class="form-control" autocomplete="firstName" aria-required="true" placeholder="Last Name" />
                        <i class="fa-solid fa-tag"></i>
                    </div>
                    <div class="input-box">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="input-box">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Confirm Password" />
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="input-box">
                        <input type="submit" id="registerSubmit" value="Register">
                    </div>
                    <div class="links">
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
