@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Business Manager</h1>
    <h4>Manage time-off requests, teams, projects and the people who work on them - all in one place. For free.</h4>
</div>
